@font-face {
    font-family: 'CooperHewittMed';
    src: url('../fonts/CooperHewitt-Medium.otf');
    src: local('Cooper Hewitt Medium'), local('Cooper-Hewitt-Medium'), url('../fonts/CooperHewitt-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'CooperHewittBI';
    src: url('../fonts/CooperHewitt-bolditalic.otf');
    src: local('Cooper Hewitt Bold italic'), local('Cooper-Hewitt-Bold-Italic'), url('../fonts/CooperHewitt-BoldItalic.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'CooperHewittSBI';
    src: url('../fonts/CooperHewitt-SemiboldItalic.otf');
    src: local('Cooper Hewitt Semibold Italic'), local('Cooper-Hewitt-Semibold-Italic'), url('../fonts/CooperHewitt-SemiboldItalic.otf') format('opentype');
    font-weight: bold;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(#F19721, #823693, #0E80C3) no-repeat center center fixed !important;
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #F19721), color-stop(50%, #823693), color-stop(100%, #0E80C3)) no-repeat center center fixed;
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(#F19721, #823693, #0E80C3) no-repeat center center fixed !important;
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(#F19721, #823693, #0E80C3) no-repeat center center fixed !important;
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(#F19721, #823693, #0E80C3) no-repeat center center fixed !important;
    /* IE10+ */
    
    background: linear-gradient(#F19721, #823693, #0E80C3) no-repeat center center fixed !important;
    margin: 0;
}

#container {
    min-height: 100%;
    position: relative;
}

#ClickGetStarted {
    position: absolute;
    display: none;
    min-height: 100%;
    min-width: 100%;
    vertical-align: middle;
    z-index: 1 !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.85+1,0.85+100 */
    
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 1%, rgba(0, 0, 0, 0.85) 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.85)), color-stop(1%, rgba(0, 0, 0, 0.85)), color-stop(100%, rgba(0, 0, 0, 0.85)));
    /* Chrome,Safari4+ */
    
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 1%, rgba(0, 0, 0, 0.85) 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 1%, rgba(0, 0, 0, 0.85) 100%);
    /* Opera 12+ */
    
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 1%, rgba(0, 0, 0, 0.85) 100%);
    /* IE10+ */
    
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 1%, rgba(0, 0, 0, 0.85) 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#d9000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#ClickGetStarted .container {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 150px;
}

#ClickGetStarted .container h2 {
    color: #fff;
}

#ClickGetStarted .container img {
    width: 160px;
    padding: 0 15px 0 15px;
    margin-top: 20px;
}

#header {
    padding: 10px;
}

#body {
    padding-bottom: 50px;
    /* Height of the footer */
}

a {
    text-decoration: none !important;
}

ul li {
    list-style: none;
    display: inline;
}
/*ghost buttons*/

.ghost-button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
    background-color: #fff;
    /* fallback */
    
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    /* fallback */
    
    border-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}
/*ghost buttons css ended*/

#nav_SAW a {
    color: white !important;
    font-family: 'CooperHewittBI', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    padding: 0 0 0 40px;
}

#explore {
    width: 100px;
    height: 40px;
    font-family: 'CooperHewittBI', sans-serif;
    font-weight: 550;
    font-size: 24px;
    vertical-align: middle;
    text-align: center !important;
    float: right !important;
    margin: 0 40px 0 0;
    color: white !important;
    padding: 0;
    border-width: 2px;
}

.logo img {
    width: 330px !important;
    display: block;
    margin: 20px auto 0 auto;
}

.get_started {
    border-color: #0FFF00;
    color: #0FFF00;
    border-width: 6px;
    display: block;
    margin: 40px auto 20px auto !important;
    border-width: 6px;
    font-family: 'CooperHewittBI', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 28px !important;
    width: 250px;
    vertical-align: middle;
    text-align: center;
}

.get_started:hover,
.get_started:active {
    color: #7eff76 !important;
    transition: color 0.2s ease-in, border-color 0.2s ease-in;
}

#LandingPageSection {}

.section {}

.cover_name a {
    color: white;
    font-family: 'CooperHewittSBI', sans-serif;
    float: right;
    display: inline-block;
}

.cover_name a img {
    width: 25px !important;
}

.cover_name span {
    color: black;
}

.cover_name {
    position: bottom;
    margin-top: 30px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer {
    bottom: 0;
    background: #6cf;
    padding-top: 10px;
    background-color: #2B3990;
    font-size: 1.5em;
    min-height: 50px;
    text-align: center;
}

footer a {
    color: white;
    font-family: 'CooperHewittMed', sans-serif;
    /*    font-style: medium;*/
}

footer a:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s ease-in;
}

footer a:active {
    color: #fff !important;
}

footer strong {
    font-family: 'CooperHewittSBI', sans-serif;
    font-style: italic;
}
/*
section #ClickGetStarted {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}
*/
/*make a wish css*/

.makeWish_list li {
    list-style: none;
    float: right;
    display: inline-block;
    color: #fff;
    font-size: 20px;
}

.makeWish_list li a {
    color: #fff;
}

.makeWish_list li a:hover,
.makeWish_list li a:active {
    color: #ebebeb;
}

.threePNG img {
    width: 200px !important;
    vertical-align: middle;
    display: block;
    margin: 100px auto 0 auto !important;
}

.threePNG p {
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.threePNG a p:hover,
.threePNG a p:active {
    color: #ebebeb;
}

#choseWishHTML {}

#threeWish .container {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 40px;
}

#threeWish .ChooseButton {
    display: inline-block;
    opacity: 1;
    border: 3px solid #fff;
    border-radius: 0;
}

#threeWish .container h2 {
    color: #fff;
    padding: 6px;
}

#threeWish .container img {
    width: 300px;
    padding: 0;
    margin: 20px 20px 0 20px;
}

@media(max-width:580px) {
    #nav_SAW a {
        font-size: 100% !important;
        float: left;
        padding-top: 5px;
        padding-left: 10px;
    }
    #explore {
        font-size: 120% !important;
        float: right !important;
        width: 40%;
        height: 30px;
        padding: 0;
        text-align: center;
        margin-right: 0;
    }
    .nav_bar {
        margin-bottom: 20px;
    }
    .logo img {
        width: 60% !important;
        margin: 30px auto 20px auto;
    }
}

@media(max-width:480px) {
    .logo img {
        width: 75% !important;
        margin: 40px auto 30px auto;
    }
    .get_started {
        width: 50%;
        font-size: 120% !important;
    }
    #nav_SAW a {
        font-size: 90% !important;
        float: left;
        padding-top: 5px;
        padding-left: 10px;
    }
    #explore {
        font-size: 100% !important;
        float: right !important;
        width: auto;
        height: 30px;
        padding-top: 3px;
        text-align: center!important;
        padding-right: 0;
        margin-right: 0;
    }
    .cover_name {
        margin: 35px 0 40px 0;
    }
}