body {
    padding-top: 15px;
    width: 100%;
    height: 100%;
    background: linear-gradient(#F19721, #823693, #0E80C3) !important;
    /*    Standard syntax*/
}

@font-face {
    font-family: 'CooperHewittMed';
    src: url('../fonts/CooperHewitt-medium.otf');
    src: local('Cooper Hewitt medium'), local('Cooper-Hewitt-Medium'), url('../fonts/CooperHewitt-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'CooperHewittBI';
    src: url('../fonts/CooperHewitt-bolditalic.otf');
    src: local('Cooper Hewitt Bold italic'), local('Cooper-Hewitt-Bold-Italic'), url('../fonts/CooperHewitt-BoldItalic.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'CooperHewittSBI';
    src: url('../fonts/CooperHewitt-SemiboldItalic.otf');
    src: local('Cooper Hewitt Semibold Italic'), local('Cooper-Hewitt-Semibold-Italic'), url('../fonts/CooperHewitt-SemiboldItalic.otf') format('opentype');
    font-weight: bold;
}

a {
    text-decoration: none !important;
}

.ghost-button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
    background-color: #fff;
    /* fallback */
    
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    /* fallback */
    
    border-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}
/*
.nav_bar {
    min-height: 1.5em;
    display: table-cell;
    vertical-align: middle
}
*/

#nav_SAW a {
    color: white !important;
    font-family: 'CooperHewittBI', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 0 40px;
    font-style: italic;
}

#explore {
    font-family: 'CooperHewittBI', sans-serif;
    float: right !important;
    margin: 0 40px 0 0;
    color: white !important;
    padding: 0;
    text-align: center;
    font-weight: 550;
    width: 100px;
    height: 40px;
    font-size: 24px;
    font-style: italic;
    border-width: 2px;
}

.logo img {
    width: 330px !important;
    display: block;
    margin: 40px auto 0 auto;
}

.get_started {
    border-color: #0FFF00;
    color: #0FFF00;
    border-width: 6px;
    display: block;
    margin: 30px auto 44px auto !important;
    border-width: 6px;
    font-family: 'CooperHewittBI', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 28px !important;
    width: 250px;
    text-align: center;
}

#LandingPageSection {}

.section {}

.cover_name a {
    color: white;
    font-family: 'CooperHewittBI', sans-serif;
    float: right;
    margin: 0 0 20px 0;
    display: inline-block;
}

.cover_name a img {
    width: 30px !important;
    display: inline-block;
}

.cover_name span {
    color: black;
    font-weight: bold;
    display: inline-block;
}

footer {
    padding-top: 10px;
    background-color: #2B3990;
    font-size: 1.5em;
    min-height: 50px;
    text-align: center;
}

footer a {
    color: white;
    font-family: 'CooperHewittMed', sans-serif;
    font-style: medium;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s ease-in;
}

footer a:active {
    color: #fff !important;
}

footer strong {
    font-family: 'CooperHewittSBI', sans-serif;
    font-style: italic;
}

@media(min-width:580px) and (max-width:796px) {
    footer {
        margin-top: 20px;
    }
}

@media(max-width:580px) {
    #nav_SAW a {
        font-size: 12px !important;
        float: left;
        padding-top: 5px;
    }
    #explore {
        font-size: 12px;
        float: right;
        width: 40%;
        height: 30px;
        padding-top: 5px;
        text-align: center;
    }
    .nav_bar {
        margin-bottom: 20px;
    }
    .logo img {
        width: 70% !important;
        margin: 40px auto 30px auto;
    }
}